<div>
  <table class="table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">title_id</th>
        <th scope="col">title</th>
        <th scope="col">full_title</th>
        <th scope="col">tag</th>
        <th scope="col"><%= link_to 'Добавить', new_division_path %></th>
      </tr>
    </thead>
  
    <% @divisions.each do |division| %>
      <tr>
        <th scope="row"><%= division.id %></th>
        <td><%= division.title_id %></td>
        <td><%= division.search(1) %></td>
        <td class="text-muted"><i><%= division.full_title %></i></td>
        <td><%= division.tag %></td>
        <td><%= link_to 'Подробнее', division_path(division) %></td>
      </tr>
    <% end %>
  </table>
</div>