<div>
  <p><%= @_content %></p>
</div>
<div>
  <%= form_with scope: :division, url: divisions_path, local: true do |form| %>
  <% if @division.errors.any? %>
    <% @division.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%= form.label :title_id %><br>
    <%= form.text_field(:title_id, {class: "form-control"}) %>
  </p>
 
  <p>
    <%= form.label :full_title %><br>
    <%= form.text_area(:full_title, {class: "form-control"}) %>
  </p>
  <p>
    <%= form.label :tag %><br>
    <%= form.text_area(:tag, {class: "form-control"}) %>
  </p>
  <p>
    <%= form.submit('Сохранить', {class: "btn btn-primary"}) %>
  </p>
<% end %>
</div>