<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-division"><%= @division.title_id %></h5>
      <p class="card-text"><%= @division.full_title %></p>
      <small class="text-muted"><%= @division.tag %></small>
    </div>
    <div class="card-footer">
      <div class="row justify-content-between">
        <div class="btn-group btn-group-sm col-3" role="group">
          <%= link_to "Изменить", edit_division_path(@division.id),
            class: "btn btn-outline-warning col-6" %>
          <%= link_to "Удалить", division_path(@division.id),
            class: "btn btn-outline-danger col-6",
            method: :delete,
            data: {confirm: "Вы намерены удалить '#{@division.id} #{@division.full_title}'?" } %>
        </div>
      </div>
    </div>
  </div>