<div>
  <p><%= @_content %></p>
</div>
<div>
  <%= form_with scope: :title, url: title_path(@title), method: :patch, local: true do |form| %>
  <% if @title.errors.any? %>
    <% @title.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field(:name, {class: "form-control"}) %>
  </p>
 
  <p>
    <%= form.label :note %><br>
    <%= form.text_area(:note, {class: "form-control"}) %>
  </p>
  <p>
    <%= form.label :tags %><br>
    <%= form.text_area(:tags, {class: "form-control"}) %>
  </p>
  <p>
    <%= form.submit("Сохранить", {class: "btn btn-primary"}) %>
  </p>
<% end %>
</div>