<div>
  <table class="table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titles</th>
        <th scope="col">Tags</th>
        <th scope="col">Notations</th>
        <th scope="col"><%= link_to 'New', new_title_path %></th>
      </tr>
    </thead>
  
    <% @titles.each do |title| %>
    <tr>
      <th scope="row"><%= title.id %></th>
      <td><%= title.name %></td>
      <td class="text-muted"><i><%= title.tags %></i></td>
      <td><%= title.note %></td>
      <td><%= link_to 'Show', title_path(title) %></td>
    </tr>
    <% end %>
  </table>
</div>