<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @title.name %></h5>
      <p class="card-text"><%= @title.note %></p>
      <small class="text-muted"><%= @title.tags %></small>
    </div>
    <div class="card-footer">
      <div class="row justify-content-between">
        <div class="btn-group btn-group-sm col-3" role="group">
          <%= link_to "Изменить", edit_title_path(@title.id),
            class: "btn btn-outline-warning col-6" %>
          <%= link_to "Удалить", title_path(@title.id),
            class: "btn btn-outline-danger col-6",
            method: :delete,
            data: {confirm: "Вы намерены удалить '#{@title.name}'?" } %>
        </div>
      </div>
    </div>
  </div>