<!DOCTYPE html>
<html>
  <head>
    <title>Simple</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<%= link_to 'Home', home_path, class: "nav-link #{@page[:nav_home]}" %>
					</li>
					<li class="nav-item">
						<%= link_to 'Titles', titles_path, class: "nav-link #{@page[:nav_titles]}" %>
					</li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= @page[:nav_divisions] %>"
              data-toggle="dropdown" href="/divisions" role="button"
              aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <%= link_to 'Добавить', new_division_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Показать все', divisions_path, class: "dropdown-item" %>
            </div>
          </li>
					<li class="nav-item">
						<%= link_to 'About', about_path, class: "nav-link #{@page[:nav_about]}" %>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0" action="https://www.google.com/search?" method="get">
    			<input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search">
    			<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" value="search">Search</button>
    		</form>
			</div>
		</nav>
      <div class="container">
      	<%= yield %>
			</div>
    </div>
  </body>
</html>
